* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.card-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card-member {
    padding: 0px 10px;
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.intest {
    text-align: center;
    font-size: 1.3rem;
}